In [5]:
import numpy as np
import pandas as pd
import os
#from sklearn.externals import joblib
import streamlit as st
import matplotlib.pyplot as pit
import seaborn as sns
import joblib

from sklearn.linear_model import LinearRegression # linear regression package
from sklearn.model_selection import train_test_split # split dataset

from sklearn.linear_model import Lasso

from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error as mse

data = pd.read_csv('diamonds_regression.csv')

In [6]:
data.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
data.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [8]:
features = ['carat', 'depth']
target = 'price'

X = data[features]
y=data[target]

In [9]:
X.head()

   carat  depth
0   0.23   61.5
1   0.21   59.8
2   0.23   56.9
3   0.29   62.4
4   0.31   63.3

In [10]:
y.head()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [11]:
#y=data[target]
#X_dummies = pd.get_dummies(X)
#X_dummies.head(5);
#X_dummies.drop(["smoker_no", "sex_female"], axis = 1, inplace=True)
#st.write(X_dummies.head())
#X = X_dummies
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)
model = LinearRegression()
model.fit(X_train, y_train)
filename = 'diamond_model.sav'
joblib.dump(model, filename)

['diamond_model.sav']

In [14]:
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
result

0.8505691863058924

In [13]:
loaded_model.predict([[0.2, 61.0]])

C:\Users\MIS\.conda\envs\dariusday2\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-638.35436451])

In [15]:
!pip install pipreqs

Requirement already satisfied: pipreqs in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (0.4.11)
Requirement already satisfied: docopt in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from pipreqs) (0.6.2)
Requirement already satisfied: yarg in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from pipreqs) (0.1.9)
Requirement already satisfied: requests in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from yarg->pipreqs) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mis\.conda\envs\dariusday2\lib\site-packages (from requests->yarg->pipreqs) (1.26.8)

In [16]:
!pipreqs

Traceback (most recent call last):
  File "C:\Users\MIS\.conda\envs\dariusday2\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\MIS\.conda\envs\dariusday2\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\MIS\.conda\envs\dariusday2\Scripts\pipreqs.exe\__main__.py", line 7, in <module>
  File "C:\Users\MIS\.conda\envs\dariusday2\lib\site-packages\pipreqs\pipreqs.py", line 488, in main
    init(args)
  File "C:\Users\MIS\.conda\envs\dariusday2\lib\site-packages\pipreqs\pipreqs.py", line 415, in init
    candidates = get_all_imports(input_path,
  File "C:\Users\MIS\.conda\envs\dariusday2\lib\site-packages\pipreqs\pipreqs.py", line 115, in get_all_imports
    contents = f.read()
  File "C:\Users\MIS\.conda\envs\dariusday2\lib\encodings\cp1252.py", line 23, in decode
    return codecs.charmap_decode(input,self.errors,decoding_table)[0]
UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 301: character maps to <undefined>